<.header>
  New Status
  <:subtitle>Use this form to manage status records in your database.</:subtitle>
</.header>

<.status_form changeset={@changeset} action={~p"/consultei/statuses"} />

<.back navigate={~p"/consultei/statuses"}>Back to statuses</.back>
