<.header>
  New Difficulty
  <:subtitle>Use this form to manage difficulty records in your database.</:subtitle>
</.header>

<.difficulty_form changeset={@changeset} action={~p"/consultei/difficulties"} />

<.back navigate={~p"/consultei/difficulties"}>Back to difficulties</.back>
