<.header>
  New Topic
  <:subtitle>Use this form to manage topic records in your database.</:subtitle>
</.header>

<.topic_form changeset={@changeset} action={~p"/consultei/topics"} />

<.back navigate={~p"/consultei/topics"}>Back to topics</.back>
