<.header>
  Topic <%= @topic.id %>
  <:subtitle>This is a topic record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/consultei/topics/#{@topic}/edit"}>
      <.button>Edit topic</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @topic.name %></:item>
</.list>

<.back navigate={~p"/consultei/topics"}>Back to topics</.back>
