<.header>
  Edit Status <%= @status.id %>
  <:subtitle>Use this form to manage status records in your database.</:subtitle>
</.header>

<.status_form changeset={@changeset} action={~p"/consultei/statuses/#{@status}"} />

<.back navigate={~p"/consultei/statuses"}>Back to statuses</.back>
