<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:start_time]} type="datetime-local" label="Start time" />
  <.input field={f[:end_time]} type="datetime-local" label="End time" />
  <.input field={f[:description]} type="text" label="Description" />
  <:actions>
    <.button>Save Appointment</.button>
  </:actions>
</.simple_form>
